body {
    color: $dark-color;
    background-color: $back-color;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
p {
    margin: 0;
}

button {
    font-family: inherit;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;

    @media screen and (min-width: $mobile) {
        width: 480px;
    }

    @media screen and (min-width: $tablet) {
        padding-right: 32px;
        padding-left: 32px;
        width: 768px;
    }

    @media screen and (min-width: $desktop) {
        padding-right: 16px;
        padding-left: 16px;
        width: 1280px;
    }
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $tablet) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.section__title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.17;

    @media screen and (min-width: $tablet) {
        font-size: 42px;
    }
}

.section__subtitle {
    font-size: 14px;
    line-height: 1.14;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
        line-height: 1.19;
    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}