// Vars for adaptive version 
$mobile: 479.98px;
$tablet: 767.98px;
$desktop: 1279.98px;

// Vars for color-sheme
$main-color: #FFE550;
$back-color: #FEFEFE;
$button-color: #BBF330;
$second-color: #7EB101;
$dark-color: #2C2C2C;
$error-color: #FE6060;

